<!-- views/index.ejs -->

<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Soccer Training Sessions</title> 
</head>
<section class="training1-container">
  <h1>DYNAMIC SOCCER TRAININIG SESSIONS</h1>
  <h2>Register your Sessions</h2>
</section>
<section class="training-container">
  <h2>One On One Dynamic Sessions</h2>
  <h2>Small Group Dynamic Sessions</h2>
  <h2>Large Group Dynamic Sessions</h2>
  <h2>Dynamic Custom Sessions</h2>
  <h2>Dynamic Summer Camp Registration</h2>
</section>
</html>
<%- include('./partials/footer.ejs') %>