<!-- views/index.ejs -->

<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Soccer Training Sessions</title> 
</head>
<body>
  <h1>Dynamic Soccer Training Sessions</h1>
  <h2>BOOK YOUR DYNAMIC SESSION NOW!!!</h2>
  <br>
  <h2>One On One Dynamic Sessions</h2>
  <h2>Small Group Dynamic Sessions</h2>
  <h2>Large Group Dynamic Sessions</h2>
  <h2>Dynamic Custom Sessions</h2>
  <h2>DYNAMIC SUMMER CAMP REGISTRATION</h2>
</body>
</html>
<%- include('./partials/footer.ejs') %>