<%- include('./partials/header.ejs') %>

<h3>BOOK NOW!!!</h3>
<h1>Dynamic Soccer Training Sessions</h1>
<p>One On One Dynamic Sessions</p>
<p>Small Groupd Dynamic Sessions</p>
<p>Large Group Dynamic Sessions</p>
<p>Custom Group Dynamic Sessions</p>
<p>Dynamic Summer Camp</p>
<h3>BOOK NOW!!!</h3>

<%- include('./partials/footer.ejs') %>