<!-- views/trainings/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Training Session</title>
  </head>
  <body>
    <h1>Create A Training Session</h1>
<form action="/trainings/create" method="POST">
  <label for="name">name</label>
  <input type="text" required name="name" id="name" />
  <label for="addressOne">Address One</label>
  <input type="text" required name="addressOne" id="addressOne" />
  <label for="addressTwo">Address Two:</label>
  <input type="text" required name="addressTwo" id="addressTwo" />
  <label for="phone">Phone Number:</label>
  <input type="text" required name="phone" id="phone" />
  <br>
  <button type="submit">Create Training</button>
</form>
  </body>
</html>