<!-- views/trainings/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule A Training Session</title>
  </head>
  <body>
    <h1>One on One Dynamic Training Session</h1>
    <form action="/trainings" method="POST">
        <label for="isReadyToBook">Ready to Book?</label>
        <input type="checkbox" name="isReadyToBook" id="isReadyToBook" />
  
        <button type="submit">Add Dynamic Training Session</button>
    </form>
    <h1>Small Group Dynamic Training Session</h1>
    <form action="/trainings" method="POST">
        <label for="isReadyToBook">Ready to Book?</label>
        <input type="checkbox" name="isReadyToBook" id="isReadyToBook" />
  
        <button type="submit">Add Dynamic Training Session</button>
    </form>
    <h1>Large Group Dynamic Training Session</h1>
    <form action="/trainings" method="POST">
        <label for="isReadyToBook">Ready to Book?</label>
        <input type="checkbox" name="isReadyToBook" id="isReadyToBook" />
  
        <button type="submit">Add Dynamic Training Session</button>
    </form>
    <h1>Custom Group Dynamic Training Session</h1>
    <form action="/trainings" method="POST">
        <label for="isReadyToBook">Ready to Book?</label>
        <input type="checkbox" name="isReadyToBook" id="isReadyToBook" />
  
        <button type="submit">Add Dynamic Training Session</button>
    </form>
    <h1>Summer Camp Registration</h1>
    <form action="/trainings" method="POST">
        <label for="isReadyToBook">Ready to Book?</label>
        <input type="checkbox" name="isReadyToBook" id="isReadyToBook" />
  
        <button type="submit">Add Dynamic Summer Camp</button>
    </form>
  </body>
</html>